main{
	text-align: justify;
	width: 900px;
	margin-top: 100px;
	margin-left: 150px; 
	margin-right: 100px;
	margin-bottom: 100px; 
	padding: 60px;
	box-shadow: 0 0 100px;
	height: 2300px;
	font-family: 'Satisfy', cursive;
}
p{
 	font-size: 2em;
}
p.date{
	text-align: right;
}
p.information{
	text-align: left;
}
p.destinataire{
	text-align: center;
}
p.debut{
	text-align: center;
}
p.signature{
	text-align: right;
}
footer{
	background-image: 
}
img{
	height: 100px;
	width: 100px;
}


